h1{
    text-align: center;
 



}
.sus-main{

    font-family: cursive;

}

body{
    background: url("../img/backgroud.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    

}

.sus-1{
    background-color: brown;
    margin: auto 100px;
    text-align:center ;
    


}

.sus-2{
    margin: auto 100px;
    text-align:center ;
    float: left;


    background-color: blue;
}



.amongus-image{
    border-radius: 30px;
    width: 40%;
    

}

.teste{
    background-image: url("../img/fogo.gif");
    color: transparent;
    background-clip: text;
}