.sus-main{
    font-size: 0;
    position: absolute;
    font-family: cursive;


}

body{
    background: url("../img/backgroud.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    

}

.sus-1{
    font-size: medium;
    background-color: green;
    margin: auto 100px;
    text-align:center ;
    width: 40%;
    height: 100%;
    padding: 10px;
    border: 15px black solid;
    
    border-radius: 20px;

}

.sus-2{
    font-size: medium;
    padding: 10px;
    margin: auto 100px;
    text-align:center ;
    width: 40%;
    height: 100%;
    background-color: blue;
    border-radius: 20px;
    float: right;
    border: 15px black solid;
}



.teste{
    background-image: url("../img/fogo.gif");
    color: transparent;
    background-clip: text;
}

.cian{

    color: aqua;
}

.sus{
    color: crimson;

}

img{
    border-radius: 25px;

}

.crewin{
    border-radius: 30px;
    width: 40%;
    height: 200px;
    


}


.amongus-image{
    border-radius: 30px;
    width: 40%;
    height: 200px;

}

#crewin{

    display: none;
}


nav{
    text-align: center;

}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav ul{
    text-align: center;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 200px;
}


nav li {
    list-style-type: none ;
    margin: 0 0 0 15px;
}

#imp{

    display: none;
}

.imp{

    border-radius: 30px;
    width: 40%;
    height: 200px;
}