

body{
    background: url("../img/backgroud.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    

}

.main-1{
    background-color: green;
    text-align:center ;
    width: 30vw;
    height: auto;
    padding: 10px;
    border: 15px black solid;
    margin-left: 5vw;
    border-radius: 20px;

}

.main-2{
    padding: 10px;
    text-align:center ;
    width: 30vw;
    height: 99vh auto;
    background-color: blue;
    border-radius: 20px;
    float: right;
    border: 15px black solid;
    margin-right: 5vw;
    
}



.cian{

    color: aqua;
}

.sus{
    color: crimson;

}

img{
    border-radius: 25px;
    width: 20vw;

}

img.crewin,img.imp,img.amongus-image{
    border-radius: 25px;
    width: 17vw;

    height: 20vh;
}




#crewin{
    
    display: none;
}


nav{
    text-align: center;

}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}


nav ul{
    text-align: center;
    background-color: white;
    margin-left: 35vw;
    margin-right: 35vw;
    border-radius: 200px;
}


nav li {
    list-style-type: none ;
    margin: 0 0 0 15px;
    
    
}

#imp ,#impostor,#tripulantes{

    display: none;
}

.img-secret{

    width: 25vw;
}

#impostor p{
    color: red;
    

}

h1.texto{
    font-size: 20px;

}

p.texto{
    font-size: 10px;

}
